<header class="header">
  <div class="header__top-wrapper">
    <div class="container">
      <div class="header__top-row">
        <div class="header__address">
          <a href="#" class="header__location">
            <svg class="">
            <use xlink:href="img/sprite.svg#location"></use>
             </svg>
             г. Рязань
          </a>
          <a href="#" class="header__shops">
            <svg class="">
              <use xlink:href="img/sprite.svg#shops"></use>
               </svg>
            Магазины
          </a>
        </div>
        <div class="header__contact">
          <a href="tel:88000000000" class="header__phone">
            <svg class="">
              <use xlink:href="img/sprite.svg#phone"></use>
               </svg>
               8 (800) 000 00 00
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__middle-row">
      <div class="header-mobile">
      <a href="/index.html" class="header-mobile__logo">электросити</a>
        <ul class="header-mobile__list list-reset">
          <li class="header-mobile__item">
            <a href="#" class="header-mobile__link">
              <svg class="">
              <use xlink:href="img/sprite.svg#shop"></use>
               </svg>
            </a>
          </li>
          <li class="header-mobile__item">
            <a href="#" class="header-mobile__link">
              <svg class="">
              <use xlink:href="img/sprite.svg#shops"></use>
               </svg>
            </a>
          </li>
          <li class="header-mobile__item">
            <a href="#" class="header-mobile__link">
              <svg class="">
              <use xlink:href="img/sprite.svg#location"></use>
               </svg>
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="header__logo">электросити</a>

      <div class="mobile-nav">
        <button class="burger btn-reset" data-burger aria-label="Открыть меню" aria-expanded="false">
          <span class="burger__line"></span>
        </button>

        <div class="header__search-wrapper">
          <svg class="">
          <use xlink:href="img/sprite.svg#search"></use>
           </svg>
          <input class="header__search input-reset" type="search" name="search" id="search" placeholder="Поиск среди товаров">
        </div>

      </div>

      <div class="header__search-wrapper">
        <svg class="">
        <use xlink:href="img/sprite.svg#search"></use>
         </svg>
        <input class="header__search input-reset" type="search" name="search" id="search" placeholder="Поиск среди товаров">
      </div>
      <div class="header__user-actions">
        <ul class="header__list list-reset">
          <li class="header__item">
            <svg class="">
              <use xlink:href="img/sprite.svg#user"></use>
             </svg>
             <a href="#" class="header__link">Анастасия</a>
          </li>
          <li class="header__item">
            <svg class="">
              <use xlink:href="img/sprite.svg#shop"></use>
             </svg>
             <a href="#" class="header__link">Покупки</a>
          </li>
          <li class="header__item">
            <svg class="">
              <use xlink:href="img/sprite.svg#favorit"></use>
             </svg>
             <a href="#" class="header__link">Избранное</a>
          </li>
          <li class="header__item">
            <svg class="">
              <use xlink:href="img/sprite.svg#cart"></use>
             </svg>
             <a href="#" class="header__link">Корзина</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__bottom-row">
        <nav class="swiper nav">
          <div class="swiper-wrapper trainers__content">
             <div class="swiper-slide">
              <a href="#" class="nav__link nav__link--active">
                <svg class="">
                  <use xlink:href="img/sprite.svg#sale"></use>
                 </svg>
                Акции
              </a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Смартфоны</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Ноутбуки</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Телевизоры</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Видеотехника</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Планшеты</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Наушники</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Гейминг</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Умные часы</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">Моноблоки</a>
             </div>

             <div class="swiper-slide">
              <a href="#" class="nav__link">категория1</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">категория2</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">категория3</a>
             </div>
             <div class="swiper-slide">
              <a href="#" class="nav__link">категория4</a>
             </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      <!-- <nav class="nav" title="Меню">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link nav__link--active">
            <svg class="">
              <use xlink:href="img/sprite.svg#sale"></use>
             </svg>
            Акции
          </a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Смартфоны</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Ноутбуки</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Телевизоры</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Видеотехника</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Планшеты</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Наушники</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Гейминг</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Умные часы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Моноблоки</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>

  <div class="catalog-mobil" data-menu>
    <button class="btn-reset burger--active" id="catalog-mobile__btn-close"  data-menu-overlay aria-label="Закрыть меню">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 1L1 19" stroke="#8D8D8D" stroke-width="2"/>
        <path d="M1 1L19 19" stroke="#8D8D8D" stroke-width="2"/>
        </svg>
    </button>
    <h3 class="catalog-mobil__title">Каталог</h3>
    <ul class="catalog-mobil__list list-reset">
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/laptop.png" width="32" height="32" alt="ноутбук">
        <a href="#" class="catalog-mobil__link">Ноутбуки и аксессуары</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/smartphone.png" width="32" height="32" alt="Смартфоны и аксессуары">
        <a href="#" class="catalog-mobil__link">Смартфоны и аксессуары</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/tv.png" width="32" height="32" alt="Телевизоры и аксессуары">
        <a href="#" class="catalog-mobil__link">Телевизоры и аксессуары</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/photo-video.png" width="32" height="32" alt="Планшеты и аксессуары">
        <a href="#" class="catalog-mobil__link">Планшеты и аксессуары</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/planshet.png" width="32" height="32" alt="Планшеты и аксессуары">
        <a href="#" class="catalog-mobil__link">Планшеты и аксессуары</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/hends.png" width="32" height="32" alt="Наушники и аудиотехника">
        <a href="#" class="catalog-mobil__link">Наушники и аудиотехника</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/gaming.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Гейминг</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/watch.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Умные часы</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/akustic.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Портативная акустика</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/wifi.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Сетевое оборудование</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/print.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Офисная техника</a>
      </li>
      <li class="catalog-mobil__item" data-menu-item>
        <img src="img/icon-menu/alisa.png" width="32" height="32" alt="Смартфон">
        <a href="#" class="catalog-mobil__link">Умный дом</a>
      </li>
    </ul>
  </div>
</header>
