<section class="page">
  <div class="container">
    <div class="page__photo">
      <img src="img/page1.png" srcset="img/page1@2x.png 2x" alt="Супер скидки">
    </div>
    <h2 class="page__heading">Скидки до 70% на товары для гейминга</h2>
    <p class="page__date">c 8 октября до 26 октября</p>
    <p class="page__text">
      В период с 8 по 26 октября не пропустите скидки до 70% товары для
      геймеров. Выбирайте товары из акционного списка и при оформлении заказа
      укажите промокод "GAMER" для активации скидки.
    </p>
		<p class="page__text">
			Цены снижены на компьютеры, ноутбуки, ЖК мониторы, наушники, игровые кресла, геймпады, компьютерные мыши, клавиатуры, коврики для мыши.
		</p>
		<p class="page__text">
			Купите товары для геймеров со скидкой до 70%, гарантией и доставкой в интернет-магазине ЭЛЕКТРОСИТИ. Выгодные цены на товары для геймеров на electrocity.ru!
		</p>
  </div>
</section>


<div class="nav-bar">
	<div class="container">
		<ul class="nav-bar__list list-reset">
			<li class="nav-bar__item">
				<a href="#" class="nav-bar__link nav-bar__link--active">
					<svg class="nav-bar__icon nav-bar__icon--active">
					<use xlink:href="img/sprite.svg#home"></use>
					 </svg>
					Главная
				</a>
			</li>
				<li class="nav-bar__item">
					<a href="#" class="nav-bar__link">
						<svg class="nav-bar__icon">
							<use xlink:href="img/sprite.svg#search"></use>
							 </svg>
						Поиск
					</a>
				</li>
				<li class="nav-bar__item">
					<a href="#" class="nav-bar__link">
						<svg class="nav-bar__icon">
							<use xlink:href="img/sprite.svg#favorit"></use>
							 </svg>
						Избранное
					</a>
				</li>
				<li class="nav-bar__item">
					<a href="#" class="nav-bar__link">
						<svg class="nav-bar__icon">
							<use xlink:href="img/sprite.svg#cart"></use>
							 </svg>
						Корзина
					</a>
				</li>
			</li>
				<a href="#" class="nav-bar__link">
					<svg class="nav-bar__icon">
						<use xlink:href="img/sprite.svg#user"></use>
						 </svg>
					Профиль
				</a>
			</li>
		</ul>
	</div>
</div>