<section class="stocks">
	<div class="container">
		<h1 class="stocks__title">Акции</h1>
		<ul class="stocks__list list-reset">
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero1.webp, img/stocks/hero1@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero1.png, img/stocks/hero1@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero1.png" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero2.webp, img/stocks/hero2@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero2.png, img/stocks/hero2@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero2.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero3.webp, img/stocks/hero3@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero3.png, img/stocks/hero3@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero3.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero4.webp, img/stocks/hero4@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero4.png, img/stocks/hero4@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero4.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero5.webp, img/stocks/hero5@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero5.png, img/stocks/hero5@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero5.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero6.webp, img/stocks/hero6@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero6.png, img/stocks/hero6@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero6.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero7.webp, img/stocks/hero7@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero7.png, img/stocks/hero7@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero7.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero8.webp, img/stocks/hero8@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero8.png, img/stocks/hero8@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero8.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			<li class="stocks__item">
				<a href="/game.html" class="stocks__link">
					<picture>
						<source srcset="img/stocks/hero9.webp, img/stocks/hero9@2x.webp 2x" type="image/webp">
						<source srcset="img/stocks/hero9.png, img/stocks/hero9@2x.png 2x" type="image/png">
						<img src="/img/stocks/hero9.png" width="361" height="203" alt="Описание изображения">
					</picture>
				</a>
			</li>
			
		</ul>
	</div>
</section>